
/* LOADER STYLE */
.loaderContainer{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(63, 63, 63, 0.596);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  border: 16px solid #f3f3f3;
  border-top: 16px solid #b96e27;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* POINTER SETUP */
.card {
  cursor: pointer;
}

img, .cardTitle {
  pointer-events: none;
}

.hidden {
  display: none;
}

/* GAME PAGE STYLE */

/* GAMEBOARD STYLE */
.gameboard {
  padding: 16px;
  display: grid;
  gap: 16px;
}

.easy {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.medium {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.hard {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.endless {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* CARD STYLE */
.card {
  background-color: #d3d3d3;
  border: 2px solid rgb(112, 112, 112);
  border-radius: 8px;
  box-shadow: 0px 0px 10px blue;
  display: flex;
  /* aspect-ratio: 1; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  animation-duration: 1s;
  animation-name: flip;
}

.flip {
  background-color: black
}

@keyframes flip {
  from {
    rotate: 180deg;
  }

  to {
    rotate: 0deg
  }
}

.cardImage {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px white;
}

.cardTitle {
  font-size: 18px;
  padding-top: 8px;
}

